.header {
    @apply relative top-0 left-0 h-auto w-full z-[3];
}
.header__wrapper {
    @apply flex justify-between items-center pt-[30rem];

    @media screen and (max-width: 576px) {
        @apply pt-[10rem];
    }
}
.container {
    @media screen and (min-width: 576px)  {
        @apply relative top-0 left-0 max-w-full mx-auto w-[1100rem];
    }

   @media screen and (min-width: 1640px)  {
        @apply relative top-0 left-0 max-w-full mx-auto w-[1218rem];
    }

    @media screen and (max-width: 576px) {
        @apply w-full h-full px-[20rem] flex flex-col justify-start;
    }
}
.header__phone_btn {
    @apply w-[15.1vw] h-[2.8vw] bg-[#FFC231] flex text-[#363636] text-[1.55vw] font-semibold justify-center items-center rounded-[6rem] transition-all ease-linear duration-200;
    box-shadow: 2rem 2rem 11rem 0rem rgba(0, 0, 0, 0.7);
    &:hover {
        @apply scale-105;
    }
    @media screen and (min-width: 1640px) {
        @apply w-[218rem] h-[41rem] text-[22rem];
    }

    @media screen and (max-width: 576px) {
        @apply hidden;
    }
}
.header__phone_btn__mob {
    @media screen and (max-width: 576px) {
        @apply block border-[3px] border-white rounded-full w-[50rem] h-[50rem] relative z-[1];
        box-shadow: 2px 2px 11px 0px rgba(0, 0, 0, 0.7);
    }
}
.select__lang {
    @apply w-[40rem] h-[40rem] flex justify-center items-center text-[19rem] font-semibold text-[#363636] bg-[#FFC231] rounded-[6.6rem] absolute right-[250rem] z-[1];
    box-shadow: 2rem 2rem 11rem 0rem rgba(0, 0, 0, 0.70);
    @media screen and ( max-width: 576px) {
        @apply w-[50rem] h-[50rem] bg-transparent text-white border-[2px] border-white rounded-full right-[80rem];
    }
}