.clients__title {
  @apply text-[45rem] font-bold leading-normal text-center mt-[110rem] mb-[82rem];
/* line-height: 60px; */ 
// background: linear-gradient(315deg, #916527 0%, #daa22e 100%);
background: linear-gradient(308deg, #916527 0%, #daa22e 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

  @media screen and (max-width: 600px) {
    @apply text-[29rem] mt-[45rem] mb-[32rem];
  }
}