.grid__container {
  @apply flex gap-[35rem] mt-[90rem] w-full;

  @media screen and (max-width: 600px) {
    @apply hidden;
  }
}
.grid__item_left {
  @apply flex flex-col items-center gap-[44rem] w-[475rem] h-auto bg-white hover:cursor-pointer py-[130rem];
  border-radius: 100rem 48rem 48rem 100rem;
  box-shadow: 4rem 4rem 5rem rgba(0, 0, 0, 0.1);

  @media screen and (max-width: 600px) {
    @apply p-[28rem] w-full h-[360rem];    
  }
}
.grid__item_title {
  @apply text-[34rem] text-center text-black font-bold leading-[52rem];
}
.grid__item_text {
  @apply text-[25rem] text-center text-black font-normal leading-[35rem];
}
.grid__items_right {
  @apply w-[747rem] flex flex-col gap-[35rem];
}
.grid__item_top {
  @apply flex justify-center items-center gap-[40rem] bg-white hover:cursor-pointer pt-[60rem] pb-[50rem];
  border-radius: 48rem 100rem 48rem 48rem; 
  box-shadow: 4rem 4rem 5rem rgba(0, 0, 0, 0.1);
}
.grid__items_top__description {
  @apply flex flex-col gap-[15rem];
 .grid__item_title {
  @apply text-[34rem] text-start text-black font-bold leading-[42rem];
}
.grid__item_text {
  @apply text-[25rem] text-start text-black font-normal leading-[35rem];
}
}
.grid__items_bottom {
  @apply flex gap-[35rem] h-auto;
}
.grid__items_bottom__left {
  @apply flex flex-col items-center bg-white rounded-[48rem] w-[356rem] h-full py-[18rem];
  box-shadow: 4rem 4rem 5rem rgba(0, 0, 0, 0.1);
  .grid__item_title {
  @apply text-[25rem] text-center text-black font-bold leading-[33rem] mt-[14rem];
}
.grid__item_text {
  @apply text-[17rem] text-center text-black font-normal leading-[22rem] mt-[18rem];
}
}
.grid__items_bottom__right {
  @apply flex flex-col items-center bg-white w-[356rem];
  border-radius: 48rem 48rem 100rem 48rem;
  box-shadow: 4rem 4rem 5rem rgba(0, 0, 0, 0.1);
 @apply flex flex-col items-center bg-white w-[356rem] h-full pt-[18rem];
  .grid__item_title {
  @apply text-[24rem] text-center text-black font-bold leading-[33rem] mt-[14rem];
}
.grid__item_text {
  @apply text-[17rem] text-center text-black font-normal leading-[22rem] mt-[20rem];
}
}