.parking__wrapper {
  @media screen and (max-width: 600px) {
    @apply w-full h-[998rem] mt-[70rem] relative top-0 left-0 z-0 bg-[url('/sales/parking-bg-mobile.webp')] bg-cover bg-no-repeat bg-center mx-auto pt-[42rem];
  }
  @apply w-[1260rem] h-[680rem] mt-[170rem] relative top-0 left-0 z-0 bg-[url('/sales/parking-bg.webp')] bg-cover bg-no-repeat bg-bottom mx-auto pt-[45rem];
}
.parking__title {
  @media screen and (max-width: 600px) {
    @apply text-[28rem] leading-[36rem] pb-[10rem];
  }
  @apply text-[36rem] text-[#ffe9b6] font-bold leading-[45rem] ml-[-26rem] pb-[10rem];
  text-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.4);
}
.parking__title_top {
  @media screen and (max-width: 600px) {
    @apply inline-block ml-[34rem]; 
  }
  @apply inline-block ml-[50rem];
}
.parking__inner {
  @media screen and (max-width: 600px) {
    @apply flex-col gap-0 mt-[550rem];
  }
  @apply flex gap-[200rem] w-full mt-[80rem];
}
.parking__list {
  @media screen and (max-width: 600px) {
    @apply gap-[36rem] w-full pl-[48rem];
  }
  @apply flex flex-col gap-[50rem] w-[50%];
}
.parking__text {
  @media screen and (max-width: 600px) {
    @apply text-[19.4rem] font-bold leading-[26rem];
  }
  @apply text-[24rem] text-[#fff] font-bold leading-[32rem] relative z-0;
}
.parking__text::before {
  @media screen and (max-width: 600px) {
    content: '';
  @apply inline-block absolute top-[8rem] left-[-18rem] z-[1] w-[7rem] h-[7rem] bg-white rounded-full;
  }
  content: '';
  @apply inline-block absolute top-[12rem] left-[-38rem] z-[1] w-[12rem] h-[12rem] bg-white rounded-full;
}